@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,200&family=Open+Sans:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,600;1,200&family=Open+Sans:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,600;1,200&family=Nova+Square&family=Open+Sans:wght@500;700&display=swap');
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    align-items:center;
    font-family: 'Noto Serif',serif ;
    background-color:  #474350;
}

h1{
    color: #B2ABF2;
}
/*Buttons*/
button{
    border-radius: 10px;
}

.buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons-container>button{
    font-family: 'Noto Serif',serif ;
    font-weight: 600;
    background-color: #B2ABF2;
    border-color: #FCFFEB;
    color: #FCFFEB;
    width: 20vw;
    height: 10vh;
}
.cardButtonContainer{
    width: 100%;
    height: 25%;
}
.statusButton{
    width: 50%;
    height: 100%;
    background-color: #474350;
    border: #FCFFEB solid 0.1em;
    color: #FCFFEB;
}

/*Cards*/


.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1vh;
    width: 80vw;
    height: 40vh;
}
.cards{
    border: solid #FCFFEB 2px;
    border-radius: 2%;
    background-color: #B2ABF2;
    font-family: 'Noto Serif', serif;
    font-size: 3vh;
    width: 60vh;
    height: 60vh;
    padding: 2%;
}
.card-text{
    list-style: disc;
    color: #FCFFEB;
    font-family: 'Nova Square', serif;
    font-size: 5vh;
}

/*Dialog*/

#dialog{
    background-color: #474350;
    color: #B2ABF2;
    width: 20%;
}
#dialog>form>input{
    border: none;
    background-color: #B2ABF2 ;
}
#dialog>form>label{
    padding-right: 10px;
}